.header nav ul li a, 
.productive .container .text a:hover, 
.footer .footer-links ul li a,
.footer .social-media a{
    transition: var(--transition-default);
}

.header nav ul li a:hover{
    text-decoration: underline;
 }

.header nav ul li a:hover,
.footer .footer-links ul li a:hover{
   font-weight: 700;
}

.intro .info button:hover,
.get-access .form button:hover{
    transition: var(--transition-default);
}

.intro .info button:hover, 
.get-access .form button:hover{
   background-color: #90e0f8;
}

.productive .container .text a:hover{
    color: var(--text-color);
 }

.footer .social-media a:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
 }